<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot_cell">
  <xacro:include filename="$(find abb_crb15000_support)/urdf/crb15000_5_95_macro.xacro"/>

  <xacro:abb_crb15000_5_95 prefix=""/>

  <link name="world" />

  <joint name="rcf_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="-0.001487 1.999346 0.424999" rpy="0.000894 -0.000486 -1.568925"/>
  </joint>

</robot>
